openapi: 3.0.0
servers:
  - url: https://api.monoova.com
    description: Production URL#
  - url: https://sand-api.monoova.com
    description: Sandbox URL
info:
  description: |
    # Introduction

    The Monoova PayTo API is designed to efficiently handle real time financial transactions, providing a reliable platform for creating payment agreements and initiating payments. It offers a streamlined transaction process, ensuring speed and security for businesses and users with benefits above and beyond a direct debit alternative.

    Monoova's PayTo API supports synchronous and asynchronous operations, allowing flexible integration based on varying business needs. The asynchronous API option is particularly beneficial for handling batch operations requiring extended processing time, enhancing overall system performance and reliability. Additionally, Monoova provides webhook subscriptions, enabling users to receive timely updates and notifications about transaction events, which helps maintain transparency and control over financial activities.

    ## Process

    PayTo allows you to debit an enabled domestic bank account in real time. 

    * First, you create a **payment agreement** between a payer and a payee. The terms of the agreement determine the amount and schedule of allowed debits. When you create a Payment Agreement, the account is validated in real time, so you can ensure the account details are correct.

    * Next, the payer authorises the agreement through their banking app.

    * Finally, real time **payment initiations** can be triggered. If successful, funds will be credited to the payee account in real time and made available for disbursement. Because recipients can access funds faster than traditional direct debit systems, this is particularly beneficial for businesses or individuals relying on prompt cash flow payments.

    * If you would like to modify the terms of the agreement, you can use the amendment API's.

    # Getting Started

    1. Access the Domestic Payments Portal:

        * Sandbox Environment:
            - Register: If you are new, [register](https://sandbox.monoova.com) to gain Sandbox access.
            - Login: If you already have Sandbox credentials, [log in](https://sandbox.monoova.com) to continue your work.

        * Production Environment:
            - Login: Login to the [Production portal](https://payments.monoova.com) using the credentials you obtained during onboarding.

    2. Activate Your API Key

        * Generate API Key:
          - If you do not know your API Key or need to reset it, navigate to Manage > Accounts to generate or regenerate your API Key after logging into the portal.

        * Activate API Gateway Access:
          - Go to Manage > API Gateway and enter your API Key to activate API Gateway access for your mAccount.

    3. Configure API Access

        Please [contact our integration team](https://www.monoova.com/contact) to configure your account settings. This step ensures that your account is allowed to access the service.

    4. Explore API Endpoints

        Use the API documentation to plan your integration. It provides details and examples of usage.

    5. Onboarding and Support

        Our integration team will guide you from the initial setup to the final running implementation, providing support throughout the process.

    # Sandbox Testing for PayTo Agreements

    In the Sandbox environment, it is possible to test different outcomes for PayTo agreements by altering the values of the agreement. This allows for a comprehensive evaluation of potential scenarios in a controlled setting.

    ## Use the following payment details when testing in Sandbox:

    <style type="text/css">
    .tb { table-layout:auto; width:300px;!important }
    .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
    </style>
    <table class="tb">
      <tr>
        <th>Account Name</th>
        <th>BSB</th>
        <th>Account Number</th>
        <th>PayID</th>
      </tr>
      <tr>
        <td class="td">Monoova Sample 1</td>
        <td class="td">802950</td>
        <td class="td">22090100</td>
        <td class="td">+61-422020901</td>
      </tr>
      <tr>
        <td class="td">Monoova Sample 2</td>
        <td class="td">802950</td>
        <td class="td">22090101</td>
        <td class="td">sample@monoova.com</td>
      </tr>
      <tr>
        <td class="td">Monoova Sample 3</td>
        <td class="td">802950</td>
        <td class="td">22090102</td>
        <td class="td">38126015228</td>
      </tr>
      <tr>
        <td class="td">Monoova Sample 4</td>
        <td class="td">802950</td>
        <td class="td">22090103</td>
        <td class="td">987654321</td>
      </tr>
    </table>

    ## Testing Payment Agreements

    Payment agreements are automatically approved or declined in the Sandbox environment, depending on the amount or `maxAmount` included in the agreement request. If both `amount` or `maxAmount` are passed, the `amount` will determine the behavior.

    For basic testing of Payment Agreements, the following test cases are recommended. A more comprehensive list of test cases is available should you wish to examine edge cases.
    </br></br>
    ### Response for Payment Agreements

    <style type="text/css">
    .tb { table-layout:auto; width:300px;!important }
    .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
    </style>
    <table class="tb">
      <tr>
        <th>Response</th>
        <th>Reason Code</th>
        <th>Contains Value</th>
        <th>Example</th>
        <th>Action</th>
      </tr>
      <tr>
        <td class="td">Agreement Approved</td>
        <td class="td">-</td>
        <td class="td">.00</td>
        <td class="td">$5.00, $10.00, $50.00</td>
        <td class="td">Approve</td>
      </tr>
      <tr>
        <td class="td">Requested By Customer</td>
        <td class="td">M019</td>
        <td class="td">.19</td>
        <td class="td">$5.19, $10.19, $50.19</td>
        <td class="td">Decline</td>
      </tr>
    </table>

    ### Other Test Cases

    <style type="text/css">
    .tb { table-layout:auto; width:300px;!important }
    .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
    </style>
    <table class="tb">
      <tr>
        <th>Response</th>
        <th>Reason Code</th>
        <th>Contains Value</th>
        <th>Example</th>
        <th>Action</th>
      </tr>
      <tr>
        <td class="td">Invalid Debtor Account Number</td>
        <td class="td">M001</td>
        <td class="td">.01</td>
        <td class="td">$5.01, $10.01, $50.01</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Closed Debtor Account Number</td>
        <td class="td">M003</td>
        <td class="td">.03</td>
        <td class="td">$5.03, $10.03, $50.03</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Blocked Account</td>
        <td class="td">M004</td>
        <td class="td">.04</td>
        <td class="td">$5.04, $10.04, $50.04</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Invalid Debtor Account Type</td>
        <td class="td">M005</td>
        <td class="td">.05</td>
        <td class="td">$5.05, $10.05, $50.05</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Transaction Forbidden</td>
        <td class="td">M006</td>
        <td class="td">.06</td>
        <td class="td">$5.06, $10.06, $50.06</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Transaction Not Supported</td>
        <td class="td">M007</td>
        <td class="td">.07</td>
        <td class="td">$5.07, $10.07, $50.07</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Not Allowed Currency</td>
        <td class="td">M008</td>
        <td class="td">.08</td>
        <td class="td">$5.08, $10.08, $50.08</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Invalid Amount</td>
        <td class="td">M009</td>
        <td class="td">.09</td>
        <td class="td">$5.09, $10.09, $50.09</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Amount Exceeds Agreed Limit</td>
        <td class="td">M010</td>
        <td class="td">.10</td>
        <td class="td">$5.10, $10.10, $50.10</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">No Mandate Service On Customer</td>
        <td class="td">M018</td>
        <td class="td">.18</td>
        <td class="td">$5.18, $10.18, $50.18</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Mandate Cancelled Due To Fraud</td>
        <td class="td">M022</td>
        <td class="td">.22</td>
        <td class="td">$5.22, $10.22, $50.22</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">No Answer From Customer</td>
        <td class="td">M027</td>
        <td class="td">.27</td>
        <td class="td">$5.27, $10.27, $50.27</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Regulatory Reason</td>
        <td class="td">M028</td>
        <td class="td">.28</td>
        <td class="td">$5.28, $10.28, $50.28</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Creditor not on Whitelist of Debtor</td>
        <td class="td">M030</td>
        <td class="td">.30</td>
        <td class="td">$5.30, $10.30, $50.30</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Creditor on Blacklist of Debtor</td>
        <td class="td">M031</td>
        <td class="td">.31</td>
        <td class="td">$5.31, $10.31, $50.31</td>
        <td class="td">Decline</td>
      </tr>
      <tr>
        <td class="td">Unknown end Customer</td>
        <td class="td">M032</td>
        <td class="td">.32</td>
        <td class="td">$5.32, $10.32, $50.32</td>
        <td class="td">Decline</td>
      </tr>
    </table>


    <br/>

    In addition to a sample request, the scheme for each endpoint and associated data tables are in the appendix at the end of this document.

    To try out our API, you can use a client such as [Postman](https://www.getpostman.com).

    You can download a postman collection of our API by clicking the link below:

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/19891519-fccdc471-7f26-4f4c-bba7-4e0dda5ab9e3?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D19891519-fccdc471-7f26-4f4c-bba7-4e0dda5ab9e3%26entityType%3Dcollection%26workspaceId%3D0a304f49-2e6e-4498-8d43-3b68ee26aee6)

    **Note:** Please note we do not accept TLS 1.0 or 1.1 connections

  version: v1
  title: Monoova PayTo API

  contact:
    name: Monoova Support
    email: support@monoova.com
    url: https://www.monoova.com
  x-logo:
    url: 'https://movdpwebsiteprodae.blob.core.windows.net/images/Monoova-Primary-Logo-Black-RGB.png'
    altText: Monoova logo

tags:
  - name: Manage Payment Agreements
    description: Methods to handle the payment agreement lifecycle. There are 2 ways in which a payment agreement can be amended – unilaterally (no payer approval needed), and Bilaterally (payer approval required)

  - name: PayTo Async API
    description: |
      The `AsyncResponse` is used in operations where the request is accepted, but the processing is not immediate. This response format provides information for tracking and checking the request status.

      This API adheres to the Microsoft [async-request-reply pattern](https://learn.microsoft.com/en-us/azure/architecture/patterns/async-request-reply), ensuring efficient handling of non-immediate requests.

      Featuring high throughput and generous rate limits, this API is optimal for bulk operations, allowing for the efficient processing of larger datasets.

      </br>

      ### HTTP Status Code

      - **202 Accepted**:
        - *Description*: Indicates that the request has been accepted for processing but has not been completed.

      ### HTTP Headers

      - **Location**:
        - *Description*: Provides the URL where the client can check the status of the asynchronous operation. Clients should periodically poll this URL to retrieve the final result of the request.
        - *Example*: `https://sand-api.monoova.com/...`

      - **Retry-After**:
        - *Description*: Suggests the number of seconds the client should wait before polling the Location URL again. This helps manage server load by preventing requests that are too frequent.
        - *Example*: `10`

  - name: Initiate a Payment
    description: Once a payment agreement is created you can trigger payments against it

  - name: Notification Management
    description: All Subscriptions for mAccount

  - name: Reporting
    description: </br><h2>PayTo Reporting</h2>
      <p>
      A new report has been added specifically for NPP payments related to PayTo. Monoova’s PayTo NPP receivables – available
      <a href='https://api-docs.monoova.com/payments#operation/PayToReceivablesReportDate' target='_blank'> here </a>

      </p>
      </br>
      In addition, PayTo NPP receivables will have the following additional data fields
      </br> <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <th> Field </th>
      <th> Description </th>
      <th> Specification </th>
      </tr>

      <tr>
      <td class="td">

      mmsId <br/>
      </td>
      <td class="td">
      Id assigned by NPPA for payment agreement <br/>
      </td>
      <td class="td">
      string{33} <br/>
      </td>
      </tr>
      <tr>
      <td class="td">

      InitiatingPartyName <br/>
      </td>
      <td class="td">
      Initiating Party name.. <br/>
      </td>
      <td class="td">
      string{1, 35} <br/>
      </td>
      </tr>
      </table>

  - name: Webhooks
    description: <p>
      In addition to callable reporting endpoints, webhooks will also be available for state changes for payment agreements and funds received.
      </p>
      </br></br>

      <h3>Funds received notification</h3>
      <p> If Payee account is Monoova automatcher account, webhooks will be sent using a new webhook <a target='_blank' href="/payments/#operation/PayToReceivePaymentWebhook">PayToReceivePayment</a>. </p>
      </br> </br>
      <p> In addition to PayTo NPP receivables fields this webhook will have the following additional data fields to provide payment agreement information:</p>
      </br> <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <th> Field </th>
      <th> Description </th>
      <th> Specification </th>
      </tr>

      <tr>
      <td class="td">

      mmsId <br/>
      </td>
      <td class="td">
      Id assigned by NPPA for payment agreement <br/>
      </td>
      <td class="td">
      string{33} <br/>
      </td>
      </tr>
      <tr>
      <td class="td">

      InitiatingPartyName <br/>
      </td>
      <td class="td">
      Initiating Party name.. <br/>
      </td>
      <td class="td">
      string{1, 35} <br/>
      </td>
      </tr>
      </table>
  - name: Client Error Responses
    description: <h3> Response Structure </h3> </br>
      </br> <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <th> Field </th>
      <th> Description </th>
      <th> Comment </th>
      <th> Validation </th>
      </tr>
      <tr><td>	traceId	</td><td>	string 	</td><td>	traceId for the trace logs. Currently only populated for errors.	</td><td>	Optional	</td></tr>
      <tr><td>	errors[i].errorMessage	</td><td>	string 	</td><td>	detailed error messages for this error instance	</td><td>	Optional	</td></tr>
      <tr><td>	errors[i].errorCode	</td><td>	string 	</td><td>	Monoova error code	</td><td>	Mandate	</td></tr>
      <tr><td>	errors	</td><td>	Error[] 	</td><td>	array of individual errors, if any. “errors” will be null or absent of no errors occur.	</td><td>	Optional	</td></tr>
      </table>

      </br> </br>
      <h3> Sample Response </h3>
      <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <td> {</br>
      &nbsp;&nbsp; "traceId"&#58; "4ea61012-2d9b-413d-a5b4-90ad69a68741",</br>
      &nbsp;&nbsp;&nbsp;&nbsp;  "errors"&#58; [</br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {</br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "errorCode"&#58; "NOS_VL_EVTNAME_REQUIRED",</br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "errorMessage"&#58; "'eventName' must not be empty."</br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</br>
      &nbsp;&nbsp; ]</br>
      }</br>
      </td>
      </tr>
      </table>

  - name: Monoova Error Codes
    description: <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <th> HTTP Status </th>
      <th> Error Code </th>
      <th> Meaning </th>
      </tr>
      <tr><td>400</td><td>NOS_ACCTID_REQUIRED</td><td>maccount is required</td></tr>
      <tr><td>400</td><td>NOS_DATERANGE_INVALID</td><td>End must be after Start.</td></tr>
      <tr><td>400</td><td>NOS_DATERANGE_SIZE</td><td>Days between Start and End must be smaller than {0}</td></tr>
      <tr><td>400</td><td>NOS_DUP_SUB_CRT_ERROR</td><td>duplicate record already exists or subscriptionId not provided</td></tr>
      <tr><td>400</td><td>NOS_ENDDATE_INVALID</td><td>Invalid End</td></tr>
      <tr><td>400</td><td> NOS_EVTID_REQUIRED</td><td> EventId must not be empty"</td></tr>
      <tr><td>400</td><td>NOS_EVTNAME_INVALID</td><td>{0}EventName must not be empty and be one of [{1}]</td></tr>
      <tr><td>400</td><td>NOS_EVTNAME_REQUIRED</td><td>{0}eventName is required</td></tr>
      <tr><td>400</td><td>NOS_HEADER_REQUIRED</td><td>Header must not be empty</td></tr>
      <tr><td>400</td><td>NOS_ISACTIVE_REQUIRED</td><td>{0}isActive must not be empty</td></tr>
      <tr><td>400</td><td>NOS_PGNUM_INVALID</td><td>pageNumber must be greater than 0</td></tr>
      <tr><td>400</td><td>NOS_PGSIZ_INVALID</td><td>pageSize must be from 1 to {0}</td></tr>
      <tr><td>400</td><td>NOS_REQUEST_EMPTY</td><td>request payload is empty</td></tr>
      <tr><td>400</td><td>NOS_STARTDATE_INVALID</td><td>Invalid Start</td></tr>
      <tr><td>400</td><td> NOS_STS_INVALID</td><td> Status must be one of [{0}]</td></tr>
      <tr><td>400</td><td>NOS_SUBID_INVALID</td><td>SubscriptionId must be a valid Guid</td></tr>
      <tr><td>400</td><td>NOS_SUBID_REQUIRED</td><td>subscriptionId is required</td></tr>
      <tr><td>400</td><td>NOS_SUBNAME_INVALID</td><td>{0}subscriptionName must not be empty and match {RegularExpression}</td></tr>
      <tr><td>400</td><td>NOS_SUBNAME_REQUIRED</td><td>{0}subscriptionName must not be empty</td></tr>
      <tr><td>400</td><td>NOS_TRACEID_REQUIRED</td><td>traceId is required</td></tr>
      <tr><td>400</td><td>NOS_URL_INVALID</td><td>{0}callBackUrl must not be empty and must be a well-formed URL</td></tr>
      <tr><td>400</td><td>NOS_URL_REQUIRED</td><td>{0}callBackUrl is required</td></tr>
      <tr><td>400</td><td>NOS_VALIDATION_ERROR</td><td>One or more validation failures have occurred</td></tr>
      <tr><td>400</td><td>NOS_WEBDTL_REQUIRED</td><td>{0}WebHookDetail is required</td></tr>
      <tr><td>400</td><td>PAS_REQ_BODY_INVALID</td><td>Error parsing badly formed request message - {0}</td></tr>
      <tr><td>404</td><td>NOS_EVENT_NOT_FOUND_ERROR</td><td>No webhook found for&#58;{0}</td></tr>
      <tr><td>404</td><td> NOS_SUB_NOT_FOUND_ERROR</td><td> SubscriptionId {0} is not found"</td></tr>
      <tr><td>500</td><td>NOS_DEL_SUB_ERROR</td><td>Document deleted {0}. Expected exactly 1 subscription deletion.</td></tr>
      <tr><td>500</td><td>NOS_DUP_SUB_UPD_ERROR</td><td>duplicate records exist for subscriptionId {0}</td></tr>
      <tr><td>500</td><td>NOS_UNEXPECTED_ERROR</td><td>An unexpected exception occurred</td></tr>
      <tr><td>500</td><td>NOS_UPD_SUB_ERROR</td><td>Document modified {0}. Expected exactly 1 subscription updated.</td></tr>
      <tr><td>400</td><td>PAM_ACCTID_REQUIRED</td><td>maccount is required</td></tr>
      <tr><td>400</td><td>PAM_ACTION_INVALID</td><td>ActionStatus {PropertyValue} is invalid - must be one of [{0}]</td></tr>
      <tr><td>400</td><td>PAM_AMEND_FORBIDDEN</td><td>Can only amend payment agreement in active or paused status</td></tr>
      <tr><td>400</td><td>PAM_AMEND_PENDING</td><td>Can not amend payment agreement with pending bilateral amend</td></tr>
      <tr><td>400</td><td>PAM_AMOUNT_ERROR</td><td>{0}&#58; Invalid payment amount {1}</td></tr>
      <tr><td>400</td><td>PAM_AMT_GTR_MAX_AMT</td><td>Amount can not be greater than maximum amount.</td></tr>
      <tr><td>400</td><td>PAM_AMT_INVALID</td><td>{0}.amount is invalid - {PropertyValue}</td></tr>
      <tr><td>400</td><td>PAM_AMT_TYPE_INVALID_COMBINATION</td><td>For payment amount type {0}</td></tr>
      <tr><td>400</td><td> PAM_AMT_TYPE_UNSUPPORTED</td><td> Unsupported payment amount type {0}"</td></tr>
      <tr><td>400</td><td>PAM_AUTO_RENEWAL_REQUIRED</td><td>{0}.automaticRenewal is required</td></tr>
      <tr><td>400</td><td>PAM_BSB_ACCOUNT_TOGETHER</td><td>BSB and account must be provided together</td></tr>
      <tr><td>400</td><td>PAM_BUSINESS_RULE_ERROR</td><td>startdate invalid</td></tr>
      <tr><td>400</td><td>PAM_CANCEL_CREATED</td><td>Payment agreement is in created status. Please use our recall API to cancel the PAG creation</td></tr>
      <tr><td>400</td><td>PAM_CRTD_ENDDATE_INVALID</td><td>CreatedEndDate must be past time and within 1 month after CreatedStartDate</td></tr>
      <tr><td>400</td><td>PAM_CRTD_STARTDATE_INVALID</td><td>CreatedStartDate must be past time</td></tr>
      <tr><td>400</td><td>PAM_DEBTOR_PAUSED</td><td>Payment agreement paused by Debtor can only be resumed by Debtor</td></tr>
      <tr><td>400</td><td>PAM_DESC_INVALID</td><td>{0}.description must have minimum 1</td></tr>
      <tr><td>400</td><td> PAM_DESC_SHORT_DESC_MISSING</td><td> either description or shortDescription or both must be provided"</td></tr>
      <tr><td>400</td><td>PAM_DETAILS_REQUIRED</td><td>paymentDetails required</td></tr>
      <tr><td>400</td><td>PAM_DUP_PAYEE</td><td>The payee information has been provided in both the payment agreement</td></tr>
      <tr><td>400</td><td> PAM_ENDDATE_BEFORE_START</td><td> endDate cannot be earlier than paymentAgreement startDate"</td></tr>
      <tr><td>400</td><td>PAM_ENDDATE_EARLY</td><td>{0}.endDate {PropertyValue} must be later than {0}.startDate</td></tr>
      <tr><td>400</td><td>PAM_ENDDATE_FORBIDDEN</td><td>{0}.endDate is prohibited when automaticRenewal is true</td></tr>
      <tr><td>400</td><td>PAM_ENDDATE_INVALID</td><td>{0}.endDate {PropertyValue} must match yyyy-MM-dd</td></tr>
      <tr><td>400</td><td>PAM_ENDDATE_REQUIRED</td><td>{0}.endDate is required when automaticRenewal is false</td></tr>
      <tr><td>400</td><td>PAM_ENDDATE_TOO_OLD</td><td>endDate must be a future date</td></tr>
      <tr><td>400</td><td>PAM_ENDDATE_WITH_AUTORENEW</td><td>endDate cannot be provided unless automaticRenewal is false</td></tr>
      <tr><td>400</td><td>PAM_INVALID_OPERATION</td><td>PaymentAgreementStatus {0} is invalid for the change to {1}</td></tr>
      <tr><td>400</td><td>PAM_INVALID_PURPOSE</td><td>Purpose code {0} not allowed</td></tr>
      <tr><td>400</td><td>PAM_INVALID_TIME_FORMAT</td><td>{0}.ExecutionTime must match HH:MM:SS</td></tr>
      <tr><td>400</td><td>PAM_MAPPING_ERROR</td><td> Internal error - property {0} value {1} is invalid - expected one of [{2}]. Please contact Monoova support."</td></tr>
      <tr><td>400</td><td>PAM_MAX_AMT_INVALID</td><td>{0}.maximumAmount is invalid - {PropertyValue}</td></tr>
      <tr><td>400</td><td>PAM_NUM_TRANS_INVALID</td><td>{0}.NumberOfTransactionsPermitted must not be less than or equal to 0</td></tr>
      <tr><td>400</td><td>PAM_PAGID_INVALID</td><td>paymentAgreementUID {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_PAGID_REQUIRED</td><td>paymentAgreementUID required</td></tr>
      <tr><td>400</td><td>PAM_PAGMMSID_REQUIRED</td><td>Either PaymentAgreementUid or MmsId must not be empty</td></tr>
      <tr><td>400</td><td>PAM_PAG_EXISTS</td><td>Failed to create payment agreement - PaymentAgreementUID already linked to mmsId</td></tr>
      <tr><td>400</td><td>PAM_PAG_LIMIT_EXCEEDED</td><td>Request exceeds the maximum allowed payment agreement limit {0}</td></tr>
      <tr><td>400</td><td>PAM_PAG_PURPOSE_INVALID</td><td>{0}.purpose value {PropertyValue} invalid - must be one of [{1}]</td></tr>
      <tr><td>400</td><td> PAM_PAG_STATUS_INACTIVE</td><td> Agreement status must be active"</td></tr>
      <tr><td>400</td><td>PAM_PAG_TYPE_INVALID</td><td>{0}.agreementType value {PropertyValue} invalid - must be one of [{1}]</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCOUNT_NAME_FORBIDDEN</td><td>Payee account name is not allowed</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_EMPTY</td><td>{0}.payeeLinkedAccount {PropertyValue} cannot be all zeros or blanks</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_FORBIDDEN</td><td>{0}.payeeLinkedAccount prohibited with payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_INVALID</td><td>{0}.payeeLinkedAccount {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_LENGTH</td><td>{0}.payeeLinkedAccount must not be longer than 28 characters</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_MISSING</td><td>The payee account information has not been provided.</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_NAME_FORBIDDEN</td><td>{0}.payeeAccountName must be empty when payeeLinkedBsb is Monoova</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_NAME_INVALID</td><td>{0}.payeeAccountName {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_NAME_REQUIRED</td><td>{0}.payeeAccountName must not be empty</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ACCT_REQUIRED</td><td>{0}.payeeLinkedAccount required if no payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_BSB_FORBIDDEN</td><td>{0}.payeeLinkedBsb prohibited with payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_BSB_INVALID</td><td>{0}.payeeLinkedBsb {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_BSB_REQUIRED</td><td>{0}.payeeLinkedBsb required if no payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_BSB_RESTRICTED</td><td>The specified Payee bsb {0} is not allowed</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_EMPTY</td><td>{0} must contain at least one input field</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_FORBIDDEN</td><td>The account information provided does not match the list of allowed Payees.</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ID_INVALID</td><td>{0}.payeeLinkedPayId value invalid for specified payeeLinkedPayIdType</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ID_TYPE_FORBIDDEN</td><td>{0}.payeeLinkedPayIdType prohibited without payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ID_TYPE_INVALID</td><td>{0}.payeeLinkedPayIdType {PropertyValue} invalid - must be one of [{1}]</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_ID_TYPE_REQUIRED</td><td>{0}.payeeLinkedPayIdType required for payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYEE_MISSING</td><td>The payee information has not been provided in either the payment agreement</td></tr>
      <tr><td>400</td><td> PAM_PAYEE_TYPE_INVALID</td><td> {0}.payeeType {PropertyValue} is invalid - must be one of [{1}]"</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ACCT_EMPTY</td><td>{0}.linkedAccount {PropertyValue} cannot be all zeros or blanks</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ACCT_FORBIDDEN</td><td>{0}.linkedAccount prohibited with linkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ACCT_INVALID</td><td>{0}.linkedAccount {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ACCT_LENGTH</td><td>{0}.linkedAccount must be between 1 and 28 characters</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ACCT_REQUIRED</td><td>{0}.linkedAccount required if no linkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYER_BSB_FORBIDDEN</td><td>{0}.linkedBsb prohibited with linkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYER_BSB_INVALID</td><td>{0}.linkedBsb {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_PAYER_BSB_REQUIRED</td><td>{0}.linkedBsb required if no linkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYER_FORBIDDEN</td><td>The account information provided does not match the list of allowed Payers</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ID_INVALID</td><td>{0}.linkedPayId invalid format for linkedPayIdType</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ID_TYPE_FORBIDDEN</td><td>{0}.linkedPayIdType prohibited without linkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ID_TYPE_INVALID</td><td>{0}.linkedPayIdType {PropertyValue} invalid - must be one of [{1}]</td></tr>
      <tr><td>400</td><td>PAM_PAYER_ID_TYPE_REQUIRED</td><td>{0}.linkedPayIdType required for linkedPayId</td></tr>
      <tr><td>400</td><td>PAM_PAYER_MISSING</td><td>The payer information has not been provided in either the payment agreement</td></tr>
      <tr><td>400</td><td> PAM_PAYER_NAME_INVALID</td><td> {0}.payer {PropertyValue} must match {RegularExpression}"</td></tr>
      <tr><td>400</td><td>PAM_PAYER_NAME_LENGTH</td><td>{0}.payer must be between 1 and 140 characters</td></tr>
      <tr><td>400</td><td>PAM_PAYER_NAME_REQUIRED</td><td>{0}.payer required</td></tr>
      <tr><td>400</td><td>PAM_PAYER_PARTY_ALNUM</td><td>{0}.payerPartyReference Must contain at least one alphanumeric character</td></tr>
      <tr><td>400</td><td>PAM_PAYER_PARTY_INVALID</td><td>{0}.payerPartyReference value {PropertyValue} does not match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_PAYER_PARTY_LENGTH</td><td>{0}.payerPartyReference must be from 1 to 35 characters</td></tr>
      <tr><td>400</td><td>PAM_PAYER_PARTY_REQUIRED</td><td>{0}.payerPartyReference required</td></tr>
      <tr><td>400</td><td>PAM_PAYER_PAYEE_EXISTS</td><td>Failed to create ApprovedPayerPayee - account already exists</td></tr>
      <tr><td>400</td><td>PAM_PAYER_REQUIRED</td><td>payerDetails required</td></tr>
      <tr><td>400</td><td>PAM_PAYER_TYPE_INVALID</td><td>{0}.payerType {PropertyValue} invalid - must be one of [{1}]</td></tr>
      <tr><td>400</td><td>PAM_PAYER_TYPE_REQUIRED</td><td>{0}.payerType required</td></tr>
      <tr><td>400</td><td>PAM_PAYMENTINFORMATION_FREQUENCYCOMBINATIONRULE</td><td>Either pointInTime or numberOfTransactionsPermitted must be present in paymentTerms</td></tr>
      <tr><td>400</td><td> PAM_PG_NUM_INVALID</td><td> pageNumber must be greater than zero"</td></tr>
      <tr><td>400</td><td>PAM_PG_SZ_INVALID</td><td>pageSize must be between 1 and {0}</td></tr>
      <tr><td>400</td><td>PAM_PIT_FORBIDDEN</td><td>PaymentInformation.PointInTime must not be present when PaymentFrequency is {0}</td></tr>
      <tr><td>400</td><td>PAM_PIT_INVALID</td><td>{0}.PointInTime must be 2 digits string</td></tr>
      <tr><td>400</td><td> PAM_PMT_FREQ_INVALID</td><td> {0}.paymentFrequency {PropertyValue} invalid - must be one of [{1}]"</td></tr>
      <tr><td>400</td><td>PAM_PMT_FREQ_REQUIRED</td><td>{0}.paymentFrequency is required</td></tr>
      <tr><td>400</td><td>PAM_REASON_CODE_INVALID</td><td>reasonCode {PropertyValue} is invalid - must match one of [{0}]</td></tr>
      <tr><td>400</td><td>PAM_REASON_CODE_REQUIRED</td><td>reasonCode is required when statusChange is Pause or Cancel</td></tr>
      <tr><td>400</td><td>PAM_REASON_DESC_INVALID</td><td>reasonDescription is invalid - must be from 1 to 256 characters</td></tr>
      <tr><td>400</td><td>PAM_RECALL_INVALID</td><td>Action {0} in Payment Agreement {1} invalid status - must be pending for recall</td></tr>
      <tr><td>400</td><td>PAM_RECORD_NOT_FOUND_ERROR</td><td>Requested record could not be found</td></tr>
      <tr><td>400</td><td>PAM_REQUEST_EMPTY</td><td>request payload is empty</td></tr>
      <tr><td>400</td><td>PAM_REQ_BODY_INVALID</td><td>Error parsing badly formed request message - {0}</td></tr>
      <tr><td>400</td><td>PAM_RESOLUTION_INVALID</td><td>{0}.respondByTime must be between now and 5 days in the future</td></tr>
      <tr><td>400</td><td> PAM_SCHED_INVALID</td><td> schedulePaymentInitiation not yet supported - if provided value must be false"</td></tr>
      <tr><td>400</td><td>PAM_SHORT_DESC_INVALID</td><td>{0}.shortDescription must have minimum 1</td></tr>
      <tr><td>400</td><td> PAM_STARTDATE_EARLY</td><td> {0}.startDate must be future date."</td></tr>
      <tr><td>400</td><td>PAM_STARTDATE_INVALID</td><td>{0}.startDate {PropertyValue} must match yyyy-MM-dd.</td></tr>
      <tr><td>400</td><td>PAM_STARTDATE_REQUIRED</td><td>{0}.startDate is required</td></tr>
      <tr><td>400</td><td>PAM_STATUS_CHG_INVALID</td><td>statusChange {PropertyValue} is invalid - must be one of [{0}]</td></tr>
      <tr><td>400</td><td>PAM_STATUS_CHG_REQUIRED</td><td>statusChange is required</td></tr>
      <tr><td>400</td><td>PAM_TERMS_REQUIRED</td><td>paymentTerms required</td></tr>
      <tr><td>400</td><td>PAM_TZ_INVALID</td><td>{0}.RespondByTime requires a time and timezone</td></tr>
      <tr><td>400</td><td>PAM_ULTIMATE_PAYEE_FORBIDDEN</td><td>Payee ultimate name not allowed</td></tr>
      <tr><td>400</td><td>PAM_ULT_PAYEE_FORBIDDEN</td><td>{0}.ultimatePayee must be empty when payeeLinkedBsb is Monoova</td></tr>
      <tr><td>400</td><td>PAM_ULT_PAYEE_INVALID</td><td>{0}.ultimatePayee {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_ULT_PAYEE_REQUIRED</td><td>{0}.ultimatePayee must not be empty</td></tr>
      <tr><td>400</td><td>PAM_ULT_PAYER_INVALID</td><td>{0}.ultimatePayer {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAM_ULT_PAYER_LENGTH</td><td>{0}.ultimatePayer must be between 1 and 140 characters</td></tr>
      <tr><td>400</td><td>PAM_ULT_PAYER_REQUIRED</td><td>{0}.ultimatePayer required</td></tr>
      <tr><td>400</td><td>PAM_VALIDATION_ERROR</td><td>Error validating request message - {0}</td></tr>
      <tr><td>403</td><td>PAM_FORBIDDEN_ERROR</td><td>Not allowed to {0} for account {1}</td></tr>
      <tr><td>404</td><td>PAM_ACCT_NOT_FOUND_ERROR</td><td>Account not found for AccountId {0}</td></tr>
      <tr><td>404</td><td>PAM_ACTION_NOT_FOUND_ERROR</td><td>Action {0} not found in Payment Agreement {1}</td></tr>
      <tr><td>404</td><td>PAM_PAG_FQN_NOT_FOUND_ERROR</td><td>Unable to find payment agreement with account&#58; {0} paymentAgreementUid&#58; {1} mmsId&#58; {2}</td></tr>
      <tr><td>404</td><td>PAM_PAG_NOT_FOUND_ERROR</td><td>PaymentAgreement not found for PaymentAgreementUID {0}</td></tr>
      <tr><td>404</td><td>PAM_PARTY_NOT_FOUND_ERROR</td><td>ApprovedPayerPayee with ApprovalId {0} and mAccount {1} not found</td></tr>
      <tr><td>500</td><td>PAM_ACCT_CFG_PURPOSE_ERROR</td><td>Purpose Code not provided in agreement and default value not configured in account</td></tr>
      <tr><td>500</td><td>PAM_ACCT_NOT_FOUND_ERROR</td><td>Account not found for AccountId {0}</td></tr>
      <tr><td>500</td><td>PAM_ACCT_UPDATE_ERROR</td><td>Documents modified {0}. Expected exactly 1 AccountConfiguration updated.</td></tr>
      <tr><td>500</td><td>PAM_MAPPING_ERROR</td><td>Internal error - property {0} value {1} is invalid - expected one of [{2}]. Please contact Monoova support.</td></tr>
      <tr><td>500</td><td>PAM_PAG_CREATE_ERROR</td><td>Failed to create payment agreement in repository</td></tr>
      <tr><td>500</td><td>PAM_PAG_NOT_FOUND_ERROR</td><td>PaymentAgreement not found for PaymentAgreementUID {0}</td></tr>
      <tr><td>500</td><td>PAM_PAG_UPDATE_ERROR</td><td>Documents modified {0}. Expected exactly 1 payment agreement updated.</td></tr>
      <tr><td>500</td><td>PAM_PAG_UPSERT_ERROR</td><td>Documents modified {0}. Expected 0 or 1 payment agreement updated.</td></tr>
      <tr><td>500</td><td>PAM_PARTY_CREATE_ERROR</td><td>Failed to create ApprovedPayerPayee in repository</td></tr>
      <tr><td>500</td><td>PAM_PARTY_UPDATE_ERROR</td><td>Documents modified {0}. Expected exactly 1 ApprovedPayerPayee updated.</td></tr>
      <tr><td>500</td><td>PAM_UID_NOT_UNIQUE</td><td>More than one paymentAgreementUID {0} is found</td></tr>
      <tr><td>500</td><td>PAM_UNEXPECTED_ERROR</td><td>Internal server error. Please contact Monoova support.</td></tr>
      <tr><td>502</td><td>PAM_NPP_GATEWAY_ERROR</td><td>Error returned from NPP gateway - {0}</td></tr>
      <tr><td>504</td><td>PAM_NPP_GATEWAY_TIMEOUT</td><td>Timeout from NPP gateway</td></tr>
      <tr><td>202</td><td>PAS_IN_PROGRESS_STATUS</td><td>Requested operation is still pending</td></tr>
      <tr><td>400</td><td>PAS_ACCTID_REQUIRED</td><td>maccount is required</td></tr>
      <tr><td>400</td><td>PAS_ACC_PRD_LIMIT_EXCEEDED</td><td>Payment amount requested {0} plus amount used {1} exceeds remaining account limit {2} for period.</td></tr>
      <tr><td>400</td><td>PAS_ACCT_NOT_FOUND_ERROR</td><td>Account not found for AccountId {0}.</td></tr>
      <tr><td>400</td><td>PAS_AGREEMENT_STATUS_INACTIVE</td><td>Agreement status must be active.</td></tr>
      <tr><td>400</td><td>PAS_AGREEMENT_ENDED</td><td>The end date has been exceeded on the payment agreement.</td></tr>
      <tr><td>400</td><td>PAS_AGREEMENT_INVALID</td><td>Invalid payment agreement amount or currency information. Please contact Monoova support.</td></tr>
      <tr><td>400</td><td>PAS_AGREEMENT_NOT_STARTED</td><td>The start date on the payment agreement is greater than the current date.</td></tr>
      <tr><td>400</td><td>PAS_AMOUNT_ERROR</td><td>Payment initiation amount {0} currency {1} are null or invalid.</td></tr>
      <tr><td>400</td><td>PAS_AMOUNT_MISMATCH</td><td>The amount {0} {1} does not match the active amount of the payment agreement {2} {3}.</td></tr>
      <tr><td>400</td><td>PAS_AMT_EXCEEDED</td><td>The amount {0} exceeds the active allowed amount of the payment agreement {1}.</td></tr>
      <tr><td>400</td><td>PAS_AMT_INVALID</td><td>{0}.amount is invalid - {PropertyValue}</td></tr>
      <tr><td>400</td><td>PAS_AMT_REQUIRED</td><td>{0}.amount is required</td></tr>
      <tr><td>400</td><td>PAS_BUSINESS_RULE_ERROR</td><td>Business rule failure - {0}</td></tr>
      <tr><td>400</td><td>PAS_COUNT_LIMIT_EXCEEDED</td><td>Count of payments {0} exceeds configured limits {1} for the specified payment agreement.</td></tr>
      <tr><td>400</td><td>PAS_COUNT_LIMIT_UNDEFINED</td><td>Payment count limit zero or not defined for the specified payment agreement.</td></tr>
      <tr><td>400</td><td>PAS_DEFAULT_PAYEE_ACCT_NAME_REQUIRED</td><td>{0} error&#58; Account must have DefaultPayeeAccountName configured when payee is Monoova.</td></tr>
      <tr><td>400</td><td>PAS_DUP_PAYEE</td><td>The payee information has been provided in both the payment agreement, and the current request.</td></tr>
      <tr><td>400</td><td>PAS_DUPLICATE_INSTRUCTION</td><td>Failed to create payment instruction - Duplicate paymentInitiationUID</td></tr>
      <tr><td>400</td><td>PAS_ENDDATE_EXCEEDED</td><td>createdEndDate invalid - may not be more than {0} months after createdStartDate</td></tr>
      <tr><td>400</td><td>PAS_ENDDATE_INVALID</td><td>createdEndDate invalid - must be after createdStartDate</td></tr>
      <tr><td>400</td><td>PAS_FAIL_LIMIT_EXCEEDED</td><td>Number of failed payment requests {0} exceeds limit of {1} per day.</td></tr>
      <tr><td>400</td><td>PAS_LIMIT_UNAVAILABLE</td><td>Invalid account configuration for allowed payment initiations for the day. Please contact Monoova support.</td></tr>
      <tr><td>400</td><td>PAS_MAPPING_ERROR</td><td>Internal error - property {0} value {1} is invalid - expected one of [{2}]. Please contact Monoova support.</td></tr>
      <tr><td>400</td><td>PAS_MAX_AMT_EXCEEDED</td><td>The amount {0} exceeds the allowed maximumAmount of the payment agreement {1}.</td></tr>
      <tr><td>400</td><td>PAS_PAGID_INVALID</td><td>paymentAgreementUID value {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAS_PAGID_REQUIRED</td><td>paymentAgreementUID required</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCTNAME_FORBIDDEN</td><td>{0}.payeeAccountName must be empty when payeeLinkedBsb is monoova</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCTNAME_INVALID</td><td>{0}.payeeAccountName {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCTNAME_LENGTH</td><td>{0}.payeeAccountName must be from 1 to 140 characters</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCTNAME_REQUIRED</td><td>{0}.payeeAccountName required</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCT_FORBIDDEN</td><td>{0}.payeeLinkedAccount prohibited with payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCT_INVALID</td><td>{0}.payeeLinkedAccount {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCT_LENGTH</td><td>{0}.payeeLinkedAccount must be from 1 to 28 characters</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCT_MISSING</td><td>The payee account information has not been provided.</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCT_REQUIRED</td><td>{0}.payeeLinkedAccount required if no payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCT_ZERO</td><td>{0}.payeeLinkedAccount {PropertyValue} must not be all zero or blank</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ACCTNAME_RESTRICTED</td><td>Payee account name {0} is not allowed</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_BSB_FORBIDDEN</td><td>{0}.payeeLinkedBsb prohibited with payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_BSB_INVALID</td><td>{0}.payeeLinkedBsb {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_BSB_REQUIRED</td><td>{0}.payeeLinkedBsb required if no payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_EMPTY</td><td>{0} (payeeDetails) must contain at least one input field</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_FORBIDDEN</td><td>The account information provided does not match the list of allowed Payees.</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_MISSING</td><td>The payee information has not been provided in either the payment agreement, or the current request.</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_ID_INVALID</td><td>{0}.payeeLinkedPayId invalid format for payeeLinkedPayIdType</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_PAYID_TYPE_FORBIDDEN</td><td>{0}.payeeLinkedPayIdType prohibited without payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_PAYID_TYPE_INVALID</td><td>{0}.payeeLinkedPayIdType value {PropertyValue} invalid - must be one of [{1}]</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_PAYID_TYPE_REQUIRED</td><td>{0}.payeeLinkedPayIdType required for payeeLinkedPayId</td></tr>
      <tr><td>400</td><td>PAS_PAYEE_TYPE_INVALID</td><td>{0}.payeeType value {PropertyValue} invalid - must be one of [{1}]</td></tr>
      <tr><td>400</td><td>PAS_PAYMENT_TOO_SOON</td><td>The payment execute not before time has been exceeded on the payment agreement.</td></tr>
      <tr><td>400</td><td>PAS_PERIOD_COUNT_EXCEEDED</td><td>Initiation count {0} exceeds maximum allowed payment initiations for the day {1}.</td></tr>
      <tr><td>400</td><td>PAS_PMTDTL_REQUIRED</td><td>paymentDetails required</td></tr>
      <tr><td>400</td><td>PAS_PMTID_REQUIRED</td><td>paymentId is required</td></tr>
      <tr><td>400</td><td>PAS_PMT_UID_INVALID</td><td>paymentInitiationUID {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAS_PMT_UID_REQUIRED</td><td>paymentInitiationUID required</td></tr>
      <tr><td>400</td><td>PAS_REF_INVALID</td><td>{0}.lodgementReference invalid</td></tr>
      <tr><td>>400</td><td> PAS_REQUEST_EMPTY</td><td> request payload is empty"</td></tr>
      <tr><td>400</td><td>PAS_REQ_BODY_INVALID</td><td>Error parsing badly formed request message - {0}</td></tr>
      <tr><td>400</td><td>PAS_STARTDATE_INVALID</td><td>createdStartDate invalid - must be past date</td></tr>
      <tr><td>400</td><td>PAS_STARTDATE_REQUIRED</td><td>createdStartDate required</td></tr>
      <tr><td>400</td><td>PAS_SUPERCODE_INVALID</td><td>{0}.uniqueSuperAnnuationCode {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAS_SUPERCODE_REQUIRED</td><td>{0}.uniqueSuperAnnuationCode is mandatory if uniqueSuperAnnuationIdentification is given</td></tr>
      <tr><td>400</td><td>PAS_SUPERID_INVALID</td><td>{0}.uniqueSuperAnnuationIdentification {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAS_SUPERID_REQUIRED</td><td>{0}.uniqueSuperAnnuationIdentification is mandatory if uniqueSuperAnnuationCode is given</td></tr>
      <tr><td>400</td><td>PAS_TRNSTS_INVALID</td><td>transactionStatus value {PropertyValue} invalid - must be one of [{0}]</td></tr>
      <tr><td>400</td><td>PAS_TRNSTS_REQUIRED</td><td>transactionStatus required</td></tr>
      <tr><td>400</td><td>PAS_ULT_PAYEE_FORBIDDEN</td><td>{0}.ultimatePayee must be empty when payeeLinkedBsb is monoova</td></tr>
      <tr><td>400</td><td>PAS_ULT_PAYEE_INVALID</td><td>{0}.ultimatePayee {PropertyValue} must match {RegularExpression}</td></tr>
      <tr><td>400</td><td>PAS_ULT_PAYEE_LENGTH</td><td>{0}.ultimatePayee must be from 1 to 140 characters</td></tr>
      <tr><td>400</td><td>PAS_ULT_PAYEE_REQUIRED</td><td>{0}.ultimatePayee required</td></tr>
      <tr><td>400</td><td>PAS_ULT_PAYEE_RESTRICTED</td><td>Payee ultimate name {0} not allowed</td></tr>
      <tr><td>400</td><td>PAS_VALIDATION_ERROR</td><td>Error validating request message - {0}</td></tr>
      <tr><td>404</td><td>PAS_AGREEMENT_NOT_FOUND</td><td>The PaymentAgreement with the provided ID was not found&#58; {0}.</td></tr>
      <tr><td>404</td><td>PAS_INSTRUCTION_NOT_FOUND</td><td>PaymentInstruction {0} is not found</td></tr>
      <tr><td>500</td><td>PAS_APPLICATION_ERROR</td><td>An application error occurred while processing the request. Please try again later. If the problem persists please contact Monoova support.</td></tr>
      <tr><td>500</td><td>PAS_DATA_UPDATE_ERROR</td><td>Documents modified {0}. Expected exactly 1 payment instruction updated.</td></tr>
      <tr><td>500</td><td>PAS_IID_NOT_UNIQUE</td><td>More than one paymentInstructionUID {0} is found</td></tr>
      <tr><td>500</td><td>PAS_LIMIT_RESET_ERROR</td><td>Daily Limit Reset Request returned error - {0}</td></tr>
      <tr><td>500</td><td>PAS_MAPPING_ERROR</td><td>Internal error - property {0} value {1} is invalid - expected one of [{2}]. Please contact Monoova support.</td></tr>
      <tr><td>500</td><td>PAS_PAM_TIMEOUT_ERROR</td><td>Timeout calling MandateManager service. Please try again later.</td></tr>
      <tr><td>500</td><td>PAS_UNEXPECTED_ERROR</td><td>Internal server error. Please contact Monoova support.</td></tr>
      <tr><td>502</td><td>PAS_NPP_GATEWAY_ERROR</td><td>Error returned from NPP gateway - {0}</td></tr>
      <tr><td>502</td><td>PAS_NPP_GATEWAY_NORESPONSE</td><td>Received empty response from NPP gateway - {0}</td></tr>
      <tr><td>504</td><td>PAS_NPP_GATEWAY_TIMEOUT</td><td>Timeout calling NPP gateway</td></tr>
      <tr><td>400</td><td>MOV_UNEXPECTED_VALIDATION_FAILURE</td><td>Validation failed with banking partner. Contact Monoova for more information</td></tr>
      <tr><td>400</td><td>MOV_VALIDATION_ERROR</td><td>Unexpected validation error. Correct payload and retry</td></tr>
      <tr><td>400</td><td>MOV_PAYER_ALIAS_VALIDATION_FAILED</td><td>Unexpected validation error with Payer Alias. Correct payload and retry</td></tr>
      <tr><td>400</td><td>MOV_MULTIPLE_FIELD_CHANGE_ERROR</td><td>Unexpected validation error. Multiple changed fields exist with respondByTime. Correct request and retry</td></tr>
      <tr><td>400</td><td>MOV_MISSING_FIELD_ERROR</td><td>Unexpected validation error. Include amended fields</td></tr>
      <tr><td>400</td><td>MOV_RESPOND_BY_TIME_VALIDATION_FAILED</td><td>Unexpected validation error with respondByTime. Correct payload and retry</td></tr>
      <tr><td>400</td><td>MOV_DESCRIPTION_VALIDATION_FAILED</td><td>Unexpected validation error with descriptions. Correct payload and retry</td></tr>
      <tr><td>404</td><td>MOV_LINKED_PAYID_ERROR</td><td>Incorrect linkedPayId details</td></tr>
      <tr><td>404</td><td>MOV_PAYEE_LINKED_PAYID_ERROR</td><td>Incorrect payeeLinkedPayId details</td></tr>
      <tr><td>400</td><td>MOV_PAYEE_ALIAS_VALIDATION_FAILED</td><td>Creditor_information.account_alias_identification format incorrect for the chosen creditor_information.account_alias_type_code</td></tr>
      <tr><td>400</td><td>MOV_PAYER_ACCOUNT_UNSUPPORTED</td><td>Debtor account provided can't be used for MPS debits</td></tr>
      <tr><td>400</td><td>MOV_INVALID_BANK_ACCOUNT</td><td>The account provided does not belong to the current institution.</td></tr>
      <tr><td>408</td><td>MOV_REQUEST_TIMEOUT</td><td>Request timed out. Please try again after some time.</td></tr>
      <tr><td>400</td><td>MOV_NPP_PAYMENT_NOT_SUPPORTED</td><td>Payee account cannot receive NPP Payments</td></tr>
      <tr><td>404</td><td>MOV_PAYEE_DETAIL_ERROR</td><td>Incorrect Payee Details</td></tr>
      <tr><td>409</td><td>MOV_BANKING_PARTNER_ERROR</td><td>Unexpected error with banking partner. Contact Monoova for more details</td></tr>
      <tr><td>403</td><td>MOV_CONFIGURATION_ERROR</td><td>Configuration error. Contact Monoova</td></tr>
      <tr><td>400</td><td>MOV_AMEND_STATUS_VALIDATION_FAILED</td><td>Unexpected validation error with amend status. Correct payload and retry</td></tr>
      <tr><td>403</td><td>MOV_PERMISSION_DENIED</td><td>Configuration error. You do not have permission to perform this action. Contact Monoova</td></tr>
      <tr><td>400</td><td>MOV_INVALID_BSB</td><td>Invalid BSB number</td></tr>
      <tr><td>400</td><td>MOV_VALIDATION_FAILED</td><td>Unexpected validation error. Contact Monoova</td></tr>
      </table>

  - name: Payment Initiation Status
    description: </br> <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <th> Http Status Code </th>
      <th> Status </th>
      <th> Description </th>
      </tr>
      <tr><td colspan='3'><h3>Intermediate Status</h3></td> </tr>
      <tr><td>202</td><td>ACCP</td><td>Accepted Customer Profile</td></tr>
      <tr><td>202</td><td>ACSP</td><td>Accepted Settlement in Process</td></tr>
      <tr><td>202</td><td>INPR</td><td>In Progress</td></tr>
      <tr><td>202</td><td>RECV</td><td>Received</td></tr>
      <tr><td>202</td><td>SAFD</td><td>Participant Down</td></tr>
      <tr><td>202</td><td>SENT</td><td>Sent To Payer</td></tr>
      <tr><td>202</td><td>UNDV</td><td>Undelivered</td></tr>
      <tr><td colspan='3'><h3>Final Status</h3></td> </tr>
      <tr><td>	201	</td><td>	ACSC	</td><td>	Accepted Settlement Completed	</td></tr>
      <tr><td>	422	</td><td>	RJCT 	</td><td>	Rejected 	</td></tr>
      </table>
      </br> </br>

  - name: Payment Agreement Status
    description: </br> <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <th>Status</th>
      <th>Status Description</th>
      </tr>
      <tr><td>InProgress</td><td>Creation In Progress</td></tr>
      <tr><td>Created</td><td>Pending Payer Approval</td></tr>
      <tr><td>Active</td><td>Active</td></tr>
      <tr><td>Paused</td><td>Paused</td></tr>
      <tr><td>Cancelled</td><td>Cancelled</td></tr>
      <tr><td>Rejected</td><td>Creation Rejected</td></tr>
      <tr><td>Expired</td><td>Creation Timed Out</td></tr>
      </table>
      </br> </br>

  - name: Payment Initiation Reject Reason Codes
    description: </br> <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <th> Code </th>
      <th> Description </th>
      </tr>
      <tr><td>	R001	</td><td>	Creditor agent is not online	</td></tr>
      <tr><td>	R002	</td><td>	Account to be debited does not exist	</td></tr>
      <tr><td>	R003	</td><td>	Account to be Credited does not exist	</td></tr>
      <tr><td>	R004	</td><td>	The original Payer Customer Account number is closed	</td></tr>
      <tr><td>	R005	</td><td>	Account exists but is blocked	</td></tr>
      <tr><td>	R006	</td><td>	Account is now closed	</td></tr>
      <tr><td>	R007	</td><td>	Debtor account type is invalid	</td></tr>
      <tr><td>	R008	</td><td>	Creditor account type is invalid	</td></tr>
      <tr><td>	R009	</td><td>	Payer account is not valid	</td></tr>
      <tr><td>	R010	</td><td>	Transaction has been forbidden	</td></tr>
      <tr><td>	R011	</td><td>	Payment was rejected by the payee	</td></tr>
      <tr><td>	R012	</td><td>	Debtor account cannot be debited	</td></tr>
      <tr><td>	R013	</td><td>	Use of zero-dollar payment initiation requests is prohibited.	</td></tr>
      <tr><td>	R014	</td><td>	The amount requested is greater than the maximum NPP limit of $99,999,999,999	</td></tr>
      <tr><td>	R015	</td><td>	Specified message amount is a non-processable currency outside of existing agreement	</td></tr>
      <tr><td>	R016	</td><td>	Amount of funds available to cover specified message amount is insufficient	</td></tr>
      <tr><td>	R017	</td><td>	Specified transaction amount is less than agreed minimum.	</td></tr>
      <tr><td>	R018	</td><td>	Amount received is not the amount agreed or expected	</td></tr>
      <tr><td>	R019	</td><td>	The amount in the NPP Payment Initiation Request is missing or invalid	</td></tr>
      <tr><td>	R020	</td><td>	Number of transactions at the Group level is invalid or missing	</td></tr>
      <tr><td>	R021	</td><td>	The amount requested in the NPP Payment Initiation Request exceeds the agreed limit	</td></tr>
      <tr><td>	R022	</td><td>	Reject the NPP Payment Initiation Request as the Creditor is unknown to Debtor	</td></tr>
      <tr><td>	R023	</td><td>	End customer specified is not known at associated Sort/National Bank Code or does no longer exist in the books	</td></tr>
      <tr><td>	R024	</td><td>	Debtor Name not provided	</td></tr>
      <tr><td>	R025	</td><td>	Creditor Name not provided	</td></tr>
      <tr><td>	R026	</td><td>	Number of decimal points not compatible with the currency	</td></tr>
      <tr><td>	R027	</td><td>	Required Compulsory Element Missing	</td></tr>
      <tr><td>	R028	</td><td>	The currency included in the Clearing Request is incorrect (value other than AUD).	</td></tr>
      <tr><td>	R029	</td><td>	Cancellation requested by the Debtor	</td></tr>
      <tr><td>	R030	</td><td>	The CreationDateTime in the Group Header is not as per the required format	</td></tr>
      <tr><td>	R031	</td><td>	The Business Service does not support future dated NPP Payment Initiation Requests	</td></tr>
      <tr><td>	R032	</td><td>	Check with Monoova on possible Outage. Retry again after sometime.	</td></tr>
      <tr><td>	R033	</td><td>	Check with Monoova on possible Outage. Retry again after sometime.	</td></tr>
      <tr><td>	R034	</td><td>	End to End Id missing or invalid for catsct payment Instruction.	</td></tr>
      <tr><td>	R035	</td><td>	Invalid or not applicable character set	</td></tr>
      <tr><td>	R036	</td><td>	Creditor Reference Must be equal to End to End Id of payment instruction for catsct	</td></tr>
      <tr><td>	R037	</td><td>	Check with Monoova on possible Outage. Retry again after sometime.	</td></tr>
      <tr><td>	R038	</td><td>	Payer institution is unavailable	</td></tr>
      <tr><td>	R039	</td><td>	Payer institution is unavailable	</td></tr>
      <tr><td>	R040	</td><td>	Payer institution is unavailable	</td></tr>
      <tr><td>	R041	</td><td>	Payer PayId is not valid. Update the payment agreement with a valid PayId to proceed with payment initiation	</td></tr>
      <tr><td>	R042	</td><td>	Payer PayId is not valid. Update the payment agreement with a valid PayId to proceed with payment initiation	</td></tr>
      <tr><td>	R043	</td><td>	Payer BSB is not valid. Update the payment agreement with a valid BSB to proceed with payment initiation	</td></tr>
      <tr><td>	R044	</td><td>	Payer BSB is not valid. Update the payment agreement with a valid BSB to proceed with payment initiation	</td></tr>
      <tr><td>	R045	</td><td>	BO Service Code is not valid. Modify the Mandate with the correct BO Service Code	</td></tr>
      <tr><td>	R046	</td><td>	BO Service Code is not valid. Modify the Mandate with the correct BO Service Code	</td></tr>
      <tr><td>	R047	</td><td>	Payer is no longer reachable on NPP. Cancel the Mandate	</td></tr>
      <tr><td>	R048	</td><td>	Payer is no longer reachable on NPP. Cancel the Mandate	</td></tr>
      <tr><td>	R049	</td><td>	Payee Account Details are not present in Mandate and Client also has not provided Creditor Account Details in the Initiation Request. Either Modify the Mandate or provide the Creditor Account Details in the Request	</td></tr>
      <tr><td>	R050	</td><td>	Creditor PayId has been ported, amend the payment agreement to reflect correct PayId institution	</td></tr>
      <tr><td>	R051	</td><td>	Payer PayId has been ported, amend the payment agreement to reflect correct PayId institution	</td></tr>
      <tr><td>	R052	</td><td>	Payee account details in the payment initiation do not match the payment agreement	</td></tr>
      <tr><td>	R053	</td><td>	Payee PayId in the payment initiation do not match the payment agreement	</td></tr>
      <tr><td>	R054	</td><td>	Verify the details of the Mandate, if creditor details are not present, it must be provided in input request	</td></tr>
      <tr><td>	R055	</td><td>	Unable to locate Payment Instruction record	</td></tr>
      <tr><td>	R056	</td><td>	Mandate validation failed. Verify the details of the Mandate	</td></tr>
      <tr><td>	R057	</td><td>	Verify the details of the Mandate, if creditor account/alias details are correct, don't send creditor account/alias details in input request	</td></tr>
      <tr><td>	R058	</td><td>	Verify the status of previous payment instruction if it is valid for business retry	</td></tr>
      <tr><td>	R059	</td><td>	The NPP Payment Initiation Request did not contain a MandateId	</td></tr>
      <tr><td>	R060	</td><td>	Invalid Payment Agreement	</td></tr>
      <tr><td>	R061	</td><td>	Payment Agreement is expired	</td></tr>
      <tr><td>	R062	</td><td>	Reason has not been specified by end customer	</td></tr>
      <tr><td>	R063	</td><td>	Permission to process this payment is not granted	</td></tr>
      <tr><td>	R064	</td><td>	Payer institution is unavailable. Please try again later.	</td></tr>
      <tr><td>	R065	</td><td>	The BIC identifier in the Message Payload is invalid or missing	</td></tr>
      <tr><td>	R066	</td><td>	Due to specific service offered by the Debtor Agent	</td></tr>
      <tr><td>	R067	</td><td>	The Creditor did not appear on the Debtors whitelist	</td></tr>
      <tr><td>	R068	</td><td>	The Creditor did appear on the Debtors blacklist	</td></tr>
      <tr><td>	R069	</td><td>	The NPP Payment Initiation Request was rejected because the number of transactions requested exceeds the Debtor Agent offering.	</td></tr>
      <tr><td>	R070	</td><td>	The NPP Payment Initiation Request was rejected because the total value of transactions requested exceeds the Debtor Agent offering.	</td></tr>
      <tr><td>	R999	</td><td>	Unexpected System Error	</td></tr>

      </table>

  - name: Mandate Status Reason Codes
    description: </br> <style type="text/css">
      .tb { table-layout:auto; width:300px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr>
      <th> Code </th>
      <th> Description </th>
      </tr>
      <tr><td>	M001	</td><td>	Invalid Debtor AccountNumber	</td></tr>
      <tr><td>	M002	</td><td>	Closed Account Number	</td></tr>
      <tr><td>	M003	</td><td>	Closed Debtor AccountNumber	</td></tr>
      <tr><td>	M004	</td><td>	Blocked Account	</td></tr>
      <tr><td>	M005	</td><td>	Invalid Debtor AccountType	</td></tr>
      <tr><td>	M006	</td><td>	Transaction Forbidden	</td></tr>
      <tr><td>	M007	</td><td>	Transaction Not Supported	</td></tr>
      <tr><td>	M008	</td><td>	Not Allowed Currency	</td></tr>
      <tr><td>	M009	</td><td>	Invalid Amount	</td></tr>
      <tr><td>	M010	</td><td>	Amount Exceeds Agreed Limit	</td></tr>
      <tr><td>	M011	</td><td>	Contract Amended	</td></tr>
      <tr><td>	M012	</td><td>	Contract Cancellation Initiated By Debtor	</td></tr>
      <tr><td>	M013	</td><td>	Contract Expired	</td></tr>
      <tr><td>	M014	</td><td>	Mandate Suspended Final Collection	</td></tr>
      <tr><td>	M015	</td><td>	Mandate Suspended Once Off Collection	</td></tr>
      <tr><td>	M016	</td><td>	End Customer Deceased	</td></tr>
      <tr><td>	M017	</td><td>	No Mandate Service By Agent	</td></tr>
      <tr><td>	M018	</td><td>	No Mandate Service On Customer	</td></tr>
      <tr><td>	M019	</td><td>	Requested By Customer	</td></tr>
      <tr><td>	M020	</td><td>	Requested By Initiating Party	</td></tr>
      <tr><td>	M021	</td><td>	Mandate Expired	</td></tr>
      <tr><td>	M022	</td><td>	Mandate Cancelled Due To Fraud	</td></tr>
      <tr><td>	M023	</td><td>	Not Specified Reason Customer Generated	</td></tr>
      <tr><td>	M024	</td><td>	Not Specified Reason Agent Generated	</td></tr>
      <tr><td>	M025	</td><td>	Mandate Suspended 7 Consecutive Unsuccessful Collections	</td></tr>
      <tr><td>	M026	</td><td>	Narrative	</td></tr>
      <tr><td>	M027	</td><td>	No Answer From Customer	</td></tr>
      <tr><td>	M028	</td><td>	Regulatory Reason	</td></tr>
      <tr><td>	M029	</td><td>	Specific Service offered by Debtor Agent	</td></tr>
      <tr><td>	M030	</td><td>	Creditor not on Whitelist of Debtor	</td></tr>
      <tr><td>	M031	</td><td>	Creditor on Blacklist of Debtor	</td></tr>
      <tr><td>	M032	</td><td>	Unknown end Customer	</td></tr>

      </table>

      </br> </br>

  - name: 'PAYID Format Validation'
    description: <style type="text/css">
      .tb { table-layout:auto; width:100px;!important }
      .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
      </style>
      <table class="tb">
      <tr><td> <b>PhoneNumber (mapped to TELI)</b> </td><td>	Consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" then a number between 1-9 and then any combination of numbers between 0-9. Total of up to 35 characters. </br>Format pattern&#58; ^[+][0-9]{1,3}-[1-9]{1,1}[0-9]{1,29}$ </td></tr>
      <tr><td> <b>Email (mapped to EMAL)</b> </td><td>	Consists of a character string with a maximum length of 256 characters in lower case. This must include the "@" symbol with leading and trailing characters and no white spaces. </br>Format pattern&#58; (MAX256 text) ^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)$	</td></tr>
      <tr><td> <b>ACN/ABN (mapped to AUBN)</b> </td><td>	Consists of a nine to eleven digit number where the first two digits are a checksum. This is assigned by the Australian Taxation Office to identify an individual Australian Business.
      <br>Format pattern&#58; (MIN9 - MAX11 digit). ^((\d{9})|(\d{11}))$ </br>
      <br>Note&#58; This field will support both ABN and ACN</br>
      ACN= 9 digits </br>
      ABN = 11 digits
      </td></tr>
      <tr><td> <b>OrganisationId (mapped to ORGN)</b> </td><td>	The Identifier must include the company/organisation name and both/either the description of the business/ trade / product / campaign and/or geographic location.
      <br>Format pattern &#58; Maximum of 256 characters in lower case, to be drawn from the NPP Character Set and without leading or trailing whitespace.<br>
      <br>^[!-@[-~][ -@[-~]{0,254}[!-@[-~]$ <br>
      </td></tr>
      </table>

x-tagGroups:
  - name: ''
    tags:
      - Generate a Bearer Token
      - Manage Payment Agreements
      - PayTo Async API
      - Initiate a Payment
      - Reporting
      - Webhooks
      - Notification Management
      - PAYID Format Validation
      - Client Error Responses
      - Monoova Error Codes
      - Mandate Status Reason Codes
      - Payment Initiation Status
      - Payment Agreement Status
      - Payment Initiation Reject Reason Codes

security:
  - BearerAuth: []

paths:
  ## PayTo
  # Payment Agreement
  /au/payto/pam-v1/PaymentAgreement:
    post:
      tags:
        - Manage Payment Agreements
      summary: Create a Payment Agreement
      description:
        The purpose of this endpoint is to create a payment agreement. An agreement can only initiate payments once the Payer approves it. Payers must respond by the respondByTime specified while creating the mandate. If respondByTime is not provided, it will be defaulted to 5 days for the Payer to approve or decline a payment agreement.</br>
        </br>
        <strong>Rate Limit</strong></br>
        Payment Agreement and Initiation endpoints have rate limits applied at a service level. If you process at volumes that surpass the rate limits, you will get a 429 HTTP status code for 'too many requests'. If you see this error, you will need to retry. If you experience this issue frequently, space out the calls. Alternatively, the Async endpoints have a much higher rate limit applied.
        </br></br>
        A webhook will notify customers about the approval/declination of a payment agreement.
        There is also get payment agreement endpoints to check the status of the payment agreement.
        <br/><br/> To receive payments in an account with Monoova, please <a href='https://api-docs.monoova.com/payments#operation/ReceivablesCreate' taget='_blank'>create an automatcher account</a> and use it under payee details when creating payment agreement. Automatcher accounts can also be created through the Sandbox Portal. Received payments through an automatcher account will be reported via webhook notification event name <a href="https://api-docs.monoova.com/payments#tag/Webhooks/operation/PayToReceivePaymentWebhook" target="_blank">“PayToReceivePayment”</a>.

        <br/>Additionally, sample test accounts will need to be used for the payer-consumer side of the mandate on Sandbox. Please find below sample test payer accounts&#58;
        <style type="text/css">
        .tb { table-layout:auto; width:100px;!important }
        .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
        </style>
        <table class="tb">
        <tr>
        <th> Account Name </th>
        <th> Monoova Sample 1 </th>
        <th> Monoova Sample 2 </th>
        <th> Monoova Sample 3 </th>
        <th> Monoova Sample 4 </th>
        <th> Monoova Sample 5 </th>
        </tr>
        <tr><td>	BSB	</td><td>	802950	</td><td>		</td><td>		</td><td>		</td><td>		</td></tr>
        <tr><td>	Account Number	</td><td>	22090100	</td><td>		</td><td>		</td><td>		</td><td>		</td></tr>
        <tr><td>	PayID - Phone	</td><td>		</td><td>	+61-422020901	</td><td>		</td><td>		</td><td>		</td></tr>
        <tr><td>	PayID - Email	</td><td>		</td><td>		</td><td>	sample@monoova.com	</td><td>		</td><td>		</td></tr>
        <tr><td>	PayID - ABN	</td><td>		</td><td>		</td><td>		</td><td>	38126015228	</td><td>		</td></tr>
        <tr><td>	PayID - Organisation ID	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	987654321	</td></tr>

        </table>

        </strong>
        </br> </br> Below are a series of reference tables for the create and initiate payment agreement schemas
        </br>
        </br>
        <h3>Frequency</h3>
        <style type="text/css">
        .tb { table-layout:auto; width:100px;!important }
        .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
        </style>
        <table class="tb">
        <tr>
        <th> Code </th>
        <th> Name </th>
        <th> Description </th>
        </tr>
        <tr><td>	ADHO	</td><td>	Adhoc	</td><td>	Event takes place on request or as necessary.	</td></tr>
        <tr><td>	DAIL	</td><td>	Daily	</td><td>	Event takes place every day.	</td></tr>
        <tr><td>	FRTN	</td><td>	Fortnightly	</td><td>	Event takes place every two weeks.	</td></tr>
        <tr><td>	INDA	</td><td>	IntraDay	</td><td>	Event takes place several times a day.	</td></tr>
        <tr><td>	MIAN	</td><td>	SemiAnnual	</td><td>	Event takes place every six months or two times a year.	</td></tr>
        <tr><td>	MNTH	</td><td>	Monthly	</td><td>	Event takes place every month or once a month.	</td></tr>
        <tr><td>	QURT	</td><td>	Quarterly	</td><td>	Event takes place every three months or four times a year.	</td></tr>
        <tr><td>	WEEK	</td><td>	Weekly	</td><td>	Event takes place once a week.	</td></tr>
        <tr><td>	YEAR	</td><td>	Annual	</td><td>	Event takes place every year or once a year.	</td></tr>


        </table>

        </br>
        </br>
        <h3>Agreement Type</h3>
        <style type="text/css">
        .tb { table-layout:auto; width:200px;!important }
        .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
        </style>
        <table class="tb">
        <tr>
        <th> Code </th>
        <th> Name </th>
        <th> Description </th>
        </tr>
        <tr><td>	FIXE	</td><td>	Fixed	</td><td>	Payment amount is fixed.	</td></tr>
        <tr><td>	USGB	</td><td>	UsageBased	</td><td>	Payment amount is based on usage.	</td></tr>
        <tr><td>	VARI	</td><td>	Variable	</td><td>	Payment amount is variable.	</td></tr>
        </table>
        </br>
        </br>
        <h3>Agreement Type + Amount</h3>
        <style type="text/css">
        .tb { table-layout:auto; width:100px;!important }
        .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
        </style>
        <table class="tb">
        <tr>
        <th> agreementType </th>
        <th> amount </th>
        <th> maximumAmount </th>
        <th> Rules </th>
        </tr>
        <tr><td>	FIXE	</td><td>	Valid numeric value	</td><td>	NA	</td><td>	If Fixed, only amount should have values. Max amount should not be present	</td></tr>
        <tr><td>	USGB	</td><td>	Valid numeric value	</td><td>	Valid numeric value	</td><td>	If Usage based, max amount is recommended. However, amount and max amount are optional. If both amount and max amount are present, amount should be less than max amount	</td></tr>
        <tr><td>	VARI	</td><td>	Valid numeric value	</td><td>	Valid numeric value	</td><td>	If Variable, max amount is recommended. However, amount and max amount are optional. If both amount and max amount are present, amount should be less than max amount	</td></tr>
        </table>
      operationId: post-paymentagreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentAgreementDto'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentAgreementResponse'
        '400':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '403':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '404':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '502':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '504':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }

    get:
      tags:
        - Reporting
      summary: Get Payment Agreements by Date Range
      description: Previously created Payment Agreements can be retrieved individually date range.
      operationId: get-paymentagreement
      parameters:
        - name: createdStartDate
          in: query
          required: true
          description: Start Date. </br>Required. ISO8601 date-time
          schema:
            type: string
            format: date-time
        - name: pageNumber
          in: query
          description: Page to be returned after records are split as per pageSize. <br/> Optional, If not provided, it is defaulted to 1.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Number of records per page. </br> Optional, If not provided page size will be defaulted to 50. Maximum allowed value is 200.
          schema:
            type: integer
            format: int32
        - name: createdEndDate
          in: query
          description: End Date. Optional, if not provided it will be defaulted to createdStartDate +24 hours. ISO8601 date-time
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAgreementsListResponse'

        '400':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '403':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '404':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '502':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '504':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }

  '/au/payto/pam-v1/paymentagreement/{paymentAgreementUID}/unilateral':
    patch:
      tags:
        - Manage Payment Agreements
      summary: Unilateral Amendment
      description: Unilateral changes to a payment agreement can be done without the payer’s approval. The only fields that can be changed unilaterally are the payee object and agreement descriptions.
      operationId: patch-paymentagreement-id-unilateral
      parameters:
        - name: paymentAgreementUID
          in: path
          required: true
          schema:
            type: string
            description: Id to uniquely Identify a payment agreement.
            maxLength: 35
            pattern: ^[A-Za-z0-9_-]
            example: MONPAG12345
            nullable: true
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AmendUnilateralDetailsDto'
            example:
              description: payroll pag1
              shortDescription: payroll pag1
              payeeDetails:
                payeeType: ORGN
                payeeLinkedBsb: 802980
                payeeLinkedAccount: 33333333
                payeeLinkedPayId: abc@gmail.com
                payeeLinkedPayIdType: EMAIL
                payeeAccountName: PayCo
                ultimatePayee: PayCo

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmendUnilateralDetailsResponse'
        '400':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'b008558d-b6df-4935-b2aa-39b2f8d467be',
                  'errors':
                    [
                      {
                        'errorCode': 'PAM_BR_AMEND_FORBIDDEN',
                        'errorMessage': 'Can only amend payment agreement in active or paused status'
                      }
                    ]
                }
        '403':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '404':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '502':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '504':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }

  '/au/payto/pam-v1/paymentagreement/{paymentAgreementUID}/bilateral':
    patch:
      tags:
        - Manage Payment Agreements
      summary: Bilateral Amendment
      operationId: patch-paymentagreement-id-bilateral
      description: Bilateral changes can't be done without the payer’s approval. Changes can be made to payment terms. Changes made using this end point will only get reflected after payer approves the change.  Until new terms are approved, payment agreement will be active with its last approved terms.
      parameters:
        - name: paymentAgreementUID
          in: path
          required: true
          schema:
            description: Id to uniquely Identify a payment agreement.
            maxLength: 35
            pattern: ^[A-Za-z0-9_-]
            example: MONPAG12345
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmendBilateralDetailsDto'
            example:
              automaticRenewal: false
              endDate: '2022-09-30'
              respondByTime: '2022-09-1T08:20:50.52Z'
              paymentTerms:
                numberOfTransactionsPermitted: 10
                frequency: MNTH
                amount: 10.00
                maximumAmount": 1000.00
                agreementType: VARI

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmendBilateralDetailsResponse'
        '400':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '403':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '404':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '502':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '504':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }

  '/au/payto/pam-v1/paymentagreement/{paymentAgreementUID}/status':
    patch:
      tags:
        - Manage Payment Agreements
      summary: Amend Payment Agreement Status
      description: |
        This endpoint allows the initiator to change the status of a payment agreement. Available statuses are `active`, `pause`, or `cancel`.</br>
        </br>
        <h3>Status Reason Code</h3>
        <style type="text/css">
        .tb { table-layout:auto; width:200px;!important }
        .td { overflow:hidden; white-space:nowrap; text-overflow:ellipsis!important}
        </style>
        <table class="tb">
        <tr><th> Code </th><th> Reason </th></tr>
        <tr><td>AC02</td><td>Invalid Debtor Account Number</td></tr>
        <tr><td>AC04</td><td>Closed Account Number</td></tr>
        <tr><td>AC05</td><td>Closed Debtor Account Number</td></tr>
        <tr><td>AC06</td><td>Blocked Account</td></tr>
        <tr><td>AC13</td><td>Invalid Debtor Account Type</td></tr>
        <tr><td>AG01</td><td>Transaction Forbidden</td></tr>
        <tr><td>AG03</td><td>Transaction Not Supported</td></tr>
        <tr><td>AM03</td><td>Not Allowed Currency</td></tr>
        <tr><td>AM12</td><td>Invalid Amount</td></tr>
        <tr><td>AM14</td><td>Amount Exceeds Agreed Limit</td></tr>
        <tr><td>CTAM</td><td>Contract Amended</td></tr>
        <tr><td>CTCA</td><td>Contract Cancellation Initiated By Debtor</td></tr>
        <tr><td>CTEX</td><td>Contract Expired</td></tr>
        <tr><td>MCFC</td><td>Payment Agreement Suspended Final Collection</td></tr>
        <tr><td>MCOC</td><td>Payment Agreement Suspended Once Off Collection</td></tr>
        <tr><td>MD07</td><td>End Customer Deceased</td></tr>
        <tr><td>MD08</td><td>No Payment Agreement Service By Agent</td></tr>
        <tr><td>MD09</td><td>No Payment Agreement Service On Customer</td></tr>
        <tr><td>MD16</td><td>Requested By Customer</td></tr>
        <tr><td>MD17</td><td>Requested By Initiating Party</td></tr>
        <tr><td>MD20</td><td>Payment Agreement Expired</td></tr>
        <tr><td>MD21</td><td>Payment Agreement Cancelled Due To Fraud</td></tr>
        <tr><td>MS02</td><td>Not Specified Reason Customer Generated</td></tr>
        <tr><td>MS03</td><td>Not Specified Reason Agent Generated</td></tr>
        <tr><td>MSUC</td><td>Payment Agreement Suspended 7 Consecutive Unsuccessful Collections</td></tr>
        <tr><td>NARR</td><td>Narrative</td></tr>
        <tr><td>NOAS</td><td>No Answer From Customer</td></tr>
        <tr><td>RR04</td><td>Regulatory Reason</td></tr>
        <tr><td>SL01</td><td>Specific Service Offered By Debtor Agent</td></tr>
        <tr><td>SL11</td><td>Creditor Not On Whitelist Of Debtor</td></tr>
        <tr><td>SL12</td><td>Creditor On Blacklist Of Debtor</td></tr>
        </table>
      operationId: patch-paymentagreement-id-status
      parameters:
        - name: paymentAgreementUID
          in: path
          required: true
          schema:
            type: string
            description: Id to uniquely identify a payment agreement.
            maxLength: 35
            pattern: ^[A-Za-z0-9_-]{1,35}$
            example: MONPAG12345
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmendPaymentAgreementStatusDto'
            example:
              statusChange: pause
              reasonCode: AC02
              reasonDescription: Amend mandate status

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmendPaymentAgreementStatusResponse'
        '400':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '403':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '404':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '502':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '504':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }

  # Recall
  '/au/payto/pam-v1/paymentAgreement/{PaymentAgreementUID}/recall/{actionIdentification}':
    patch:
      tags:
        - Manage Payment Agreements
      summary: Recall a Payment Agreement
      description: The purpose of this operation is to recall a pending payment agreement before it is approved or declined by the payer servicer/customer.
      operationId: patch-paymentagreement-id-recall
      parameters:
        - name: PaymentAgreementUID
          in: path
          required: true
          schema:
            type: string
            maxLength: 35
            pattern: ^[A-Za-z0-9_-]
            description: Id to uniquely Identify a payment agreement.
            example: MONPAG12345
        - name: actionIdentification
          in: path
          required: true
          schema:
            type: string
            maxLength: 35
            pattern: ^[a-f0-9]{12}1[a-f0-9]{3}[89ab][a-f0-9]{15}$
            description: unique Id used to identify pending(unapproved) actions. This id is assigned when a new payment agreement is created or when a bilateral amendment is made.
            example: 6ae818a80bc362618aeaece46ee70e4a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecallPaymentAgreementLastActionResponse'
        '400':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '403':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '404':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '502':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '504':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }

  '/au/payto/pam-v1/paymentAgreement/{paymentAgreementUID}':
    get:
      tags:
        - Reporting
      summary: 'Get Payment Agreement by UniqueId'
      operationId: get-paymentagreement-id
      description: Previously created Payment Agreements can be retrieved individually via uniqueId
      parameters:
        - name: paymentAgreementUID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAgreementResponse'
        '400':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '403':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '404':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors':
                    [
                      {
                        'errorCode': 'PAM_PAG_NOT_FOUND_ERROR',
                        'errorMessage': 'PaymentAgreement not found for PaymentAgreementUID 12345'
                      }
                    ]
                }
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '502':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }
        '504':
          description: Error
          content:
            application/json:
              example:
                {
                  'traceId': 'f1a7fbd7-ca39-4b98-b247-f4e0e004f152',
                  'errors': [{ 'errorCode': 'string', 'errorMessage': 'string' }]
                }

  # Payment Initiation
  /au/payto/pas-v1/paymentInstruction:
    post:
      tags:
        - Initiate a Payment
      summary: Payment Instruction
      description: Once a valid payment agreement has approved by the payer this endpoint is used to create a payment initiation, which creates real time pull payments.<br/> You are allowed a maximum of 5 failed initiations in a 24 hour period, if you reach this limit you will need to wait until the next day to retry.
      operationId: post-paymentinstruction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateMandatePaymentDto'
            example:
              paymentAgreementUID: BCORP123456
              paymentInitiationUID: BCORP00000001
              paymentDetails:
                amount: 1.00
                lodgementReference: 'BCorp PIR 001'

      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateMandatePaymentResponseDto'
        '202':
          description: pending
          content:
            application/json:
              example:
                {
                  paymentAgreementUID: '1111222333',
                  paymentInitiationUID: 'C150D6FAE2044CA9A3ADB470874E8F86',
                  mmsId: 'ed8569b4fd8614259d13bcb9a2da2bc0',
                  nppInstructionId: 'MOPYAUS1XXXI20241119004756058205270',
                  paymentInitiationStatus: 'INPR',
                  paymentInitiationStatusDescription: 'In progress',
                  traceId: 'f3ae20c5-e400-4eab-8fb0-16e03c8481be'
                }
        '422':
          description: Rejected
          content:
            application/json:
              example:
                {
                  paymentAgreementUID: '1111222333',
                  paymentInitiationUID: 'C150D6FAE2044CA9A3ADB470874E8F86',
[...]
